.store-item{
    margin: 0 6rem 2rem 0;
}
.view-box{
    margin: 2rem 0 0 20rem;
}
.store-item .card-content{
    padding: 10px;
}
.nav-logo{
    padding: 1rem;
    width: 12rem;
}
.input-field{
    margin: 0 2rem 1rem 2rem;
}
.cart-display{
    margin:0 3rem 0 3rem;
    text-align: center;
    font-weight: 500;
}
#selectbox {
    list-style: none;
}
#paginator{
    width: 100vw;
}
section{
    width: 100vw;
}
.box{
    width: 78%;
    margin-left: 5vw;
}
.viewport{
    height: 80vh;
}