main{
    position: relative;
}
.store-item{
    margin: 2rem 0 0 2rem !important;
}
@media only screen and (max-width: 680px) {
    .store-item {
        margin: 2rem 0 0 0 !important;
    }
}

.card-content {
    padding: 1rem;
}
.card-reveal {
    left: 0;
}
.card-image {
    padding: .5rem;
}
.mdi-navigation-close{
    position: absolute;
    top: .5rem;
    right: .75rem;
}

.cart-display{
    width: 4rem !important;
    height: 4rem !important;
}
.fixed-action-btn {
    right: 3rem;
    bottom: 5rem;
}
.cart-icon {
    margin-top: .25rem;
    font-size: 2rem !important;
}
.nav-shoulder {
    width: 250px;
    min-height: 200px;
}
.action-btn {
    padding: 1rem;
    margin-bottom: -2rem;
}
.side-nav .collapsible {
    margin: 0;
}
ul.side-nav.fixed .collapsible li a{
    font-size: 1rem;
    line-height: 3rem;
    height: 3rem;
}
.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #444;
}
.side-nav .collapsible li {
    padding: 0;
}
.bold {
    font-size: 1.2rem !important;
    font-weight: bold;
}
#cart-btn {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}