<%inherit file="app_base/templates/base_ajax.html" />

<%block name="content">
<div id='cart'>
    %if len(rentals) == 0 and len(sales) == 0:
      <div id='prompt' layout vertical center>
        <h2>Your Shopping Cart Is Empty</h2>
        <p>Your cart lives to serve, so give it purpose by filling it with all of the <a href='/app_store/'>amazing things we have to offer.</a></p>
      </div>
    %else:
    <div id='table'>
      <h3>Shopping Cart</h3>
      %if len(sales) > 0:
      <table class="striped">
        <caption><h4>Purchases</h4></caption>
        <thead>
          <tr>
            <th data-field="id">Item Name</th>
            <th data-field="quantity">Quantity</th>
            <th data-field="price">Price</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          %for s in sales.values():
          <tr>
            <td>${ s.sale_item.name }</td>
            <td>
              <select class="select-dropdown">
                %for j in reversed( range( 0, s.quantity+1 ) ):
                  <option value="${j}"}>${j}</option>
                %endfor
              </select>
            </td>
            <td>$${ s.amount }</td>
            <td>
              <div class='options'>
                <a rel="${ s.sale_item.id }" class="btn-flat waves-effect waves-light red accent-3 white-text delete-btn">Remove</a>
              </div>
            </td>
          </tr>
          %endfor
        </tbody>
      </table>
      %endif
      %if len(rentals) > 0:
      <br />
      <table class="striped">
        <caption><h4>Rentals</h4></caption>
        <thead>
          <tr>
            <th data-field="id">Item Name</th>
            <th data-field="duration">Rental Duration</th>
            <th data-field="price">Reservation Payment</th>
            <th data-field="price">Pick Up Payment</th>
            <th data-field="price">Cost to Rent</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          %for r in rentals.values():
          <tr>
            <td>${ r.rental_item.name }</td>
            <td>${ r.duration } Days</td>
            <td>$${ round(r.amount, 2) }</td>
            <td>$${ round(r.checkout_price, 2) }</td>
            <td>$${ round(r.amount + r.checkout_price, 2)  }</td>
            <td>
              <div class='options'>
                <a rel="${ r.rental_item.id }" class="btn-flat waves-effect waves-light red accent-3 white-text delete-btn">Remove</a>
              </div>
            </td>
          </tr>
          %endfor
        </tbody>
      </table>
      %endif

      <br />
      <h5>Total Purchase Price: $${ round(total,2) }</h5>

      <script type="text/javascript" src="${ STATIC_URL }app_store/scripts/cart.js"></script>
    </div>
    %if len(rentals) > 0 or len(sales) > 0:
      <br />
      <div id='checkout'>
        %if request.user.is_authenticated():
        <a href="/app_store/checkout/">
        %else:
        <a class="login-btn">
        %endif
          <button class="btn waves-effect waves-light orange accent-3" type="submit" name="action">
            Checkout
          </button>
        </a>
        %endif
      </div>
    %endif
</div>
</%block>