<%inherit file="app_base/templates/base.html" />

<%block name="content">
<ul id="nav-mobile" class="side-nav fixed">
  <a href="#">
    <a href="/">
        <img src="${ STATIC_URL }app_home/media/logo.svg" alt='profile_image' class='nav-logo' />
    </a>
  </a>
  <div class="input-field">
    <input id="search" type="text" required>
    <label for="search"><i class="mdi-action-search"></i></label>
  </div>
  <a class="btn-flat waves-effect waves-light green accent-4 white-text cart-display">Display Cart</a>
</ul>
<div class="view-box container">
  <h2>Check Out</h2>
  <table class="striped">
    <thead>
      <tr>
        <th data-field="id">Item Name</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="price">Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      %for item in items:
      <tr>
        <td>${item.name}</td>
        <td>
          <select class="select-dropdown">
          %for j in reversed(range(1,cart[str(item.id)]+1)):
            <option value="${j}"}>${j}</option>
          %endfor
        </td>
        <td>$${cart[str(item.id)] * item.price}</td>
        <td>
          <div class='options'>
            <a rel="${item.id}" class="btn-flat waves-effect waves-light red accent-3 white-text">Delete</a>
          </div>
        </td>
      </tr>
      %endfor
    </tbody>
  </table>
  <br>
  ${form}
  <a href="/app_store/congrats/">
  <button class="btn waves-effect waves-light orange accent-3 " type="submit" name="action">Purchase
    <i class="mdi-content-send right"></i>
  </button>
  </a>
</div>
</%block>