<%inherit file="store.html" />

<%block name="polymer">
  <link rel="import" href="/static/app_base/components/core-animated-pages/core-animated-pages.html">
  <link rel="import" href="/static/app_base/components/core-animated-pages/transitions/slide-from-right.html">
  <link rel="import" href="/static/app_base/components/core-selector/core-selector.html">
</%block>

<%block name="main">
<div class="viewport" layout vertical>
  <core-animated-pages selected="0" transitions="slide-from-right" flex>
    <section id="first" flex>
      <div class="box" id="cart">
      </div>
    </section>
    <section id="second">
      <div class="box">
        <h2>Billing and Shipping Information</h2>
        ${form}
        <button class="btn waves-effect waves-light orange accent-3 " type="submit" name="action">
          Purchase
        </button>
      </div>
    </section>
  </core-animated-pages>
</div>
<div layout vertical center-center id="paginator">
  <core-selector id="selectbox" class="pagination" selected="0">
    <li id="pag-left"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
    <li class="page waves-effect active" name = "0"><a href="#!">1</a></li>
    <li class="page waves-effect" name = "1"><a href="#!">2</a></li>
    <li id="pag-right"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
  </core-selector>
</div>
</%block>

<%block name="cart">
</%block>