<%inherit file="store.html" />

<%block name="main">
<div class="row" layout horizontal center wrap>
%for item in items:
  <div class="store-item card col s12 m4 l2">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="${item.photo.image}">
    </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">${item.name}<i class="mdi-navigation-more-vert right"></i></span>
      %if hasattr(item, 'price'):
        <p><a href="#!" class="activator">$${item.price}</a></p>
      %elif hasattr(item, 'price_per_day'):
        <p><a href="#!" class="activator">Price per day: $${item.price_per_day}</a></p>
      %endif
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">${item.name}<i class="mdi-navigation-close right"></i></span>
      <p>${item.description}</p>
      <form>

        %if item.quantity_on_hand and hasattr(item, 'price'):
        <select class="select-dropdown">
          <option value="" disabled selected>Quantity</option>
          %if item.quantity_on_hand <= 5:
            %for j in range(1, item.quantity_on_hand+1):
              <option value="${j}"}>${j}</option>
            %endfor
          %else:
            %for j in range(1, 6):
              <option value="${j}"}>${j}</option>
            %endfor
          %endif
        </select>
        %endif

        %if hasattr(item, 'price_per_day'):
        <p class="range-field">
          <label>Rental Duration (Days)</label>
          <input type="range" value='1' id="Duration" min="1" max="90" />
        </p>
        %endif

        <a rel="${item.id}" class="btn-flat waves-effect waves-light orange accent-3 white-text cart-trigger hide-on-med-and-down">Add to Cart</a>
        <a rel="${item.id}" id='mobile'  class="btn-flat waves-effect waves-light orange accent-3 white-text hide-on-med-and-up mobile-trigger">Add to Cart</a>


      </form>
    </div>
  </div>
%endfor
</div>
</%block>