<%inherit file="app_base/templates/base.html" />w

<%block name="content">
<ul id="nav-mobile" class="side-nav  fixed">
      <a href="#">
        <a href="/">
            <img src="${ STATIC_URL }app_home/media/logo.svg" alt='profile_image' class='nav-logo' />
        </a>
      </a>
      <div class="input-field">
        <input id="search" type="text" required>
        <label for="search"><i class="mdi-action-search"></i></label>
      </div>
</ul>
<div class="view-box">
    <div class="row">
        %for rental in rentals:
        <div class="store-item card col l2 s12">
            <div class="card-content">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="${rental.rental_item.photo.image}">
              </div>
              <span class="card-title grey-text text-darken-4">${rental.rental_item.name}</span>
              <p>Rented By: ${rental.transaction.customer}</p>
              <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
              <p>Days late: ${dayslate[rental.rental_item.name]}</p>
            </div>
          </div>
        %endfor
      </div>
  </div>
</div>
</%block>