<%inherit file="/app_base/templates/base.html" />

<%block name="navigation_left">
  <ul class='left' layout horizontal>
      <div class="nav-shoulder left hide-on-med-and-down"></div>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu grey-text"></i></a>
      <div class="input-field grey-text text-darken-4">
        <input id="search" type="text" required>
        <label for="search"><i class="mdi-action-search grey-text"></i></label>
      </div>
  </ul>
</%block>

<%block name="navigation_right"></%block>

<%block name='mobile_nav'>
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a href="/">
        <img src="${ STATIC_URL }app_home/media/logo.svg" alt='profile_image' class='nav-logo' />
    </a>
  </li>
  <a id='cart-btn' class="btn btn-large waves-effect waves-light text-white orange accent-3 hide-on-med-and-up" href='/app_store/index.show_mobile_cart/'>
      <i class="mdi-action-shopping-cart"></i>
  </a>
  %if not request.user.is_authenticated():
    <ul class="collapsible" data-collapsible="accordion">
      <li class='hide-on-med-and-up'><a class="collapsible-header bold" href="/app_account/login/app_store/" >Log In</a></li>
      <li class='hide-on-med-and-up'><a class="collapsible-header bold"  href="/app_account/signup/">Sign Up</a></li>
    </ul>
  %endif
  <ul class='filter'>
    <li><h4>Filter</h4></li>
    <li>
      <input type="checkbox" id="custom_item_filter" />
      <label for="custom_item_filter">Artisan Goods</label>
    </li>
    <li>
      <input type="checkbox" id="sale_items_filter" />
      <label for="sale_items_filter">Products</label>
    </li>
    <li>
      <input type="checkbox" id="rental_items_filter" />
      <label for="rental_items_filter">Rentals</label>
    </li>
  </ul>
</ul>
</%block>

<%block name="content">

<%block name="cart">
<div class="fixed-action-btn hide-on-med-and-down">
  <a class="btn-floating btn-large waves-effect waves-light orange accent-3 cart-display"><i class="mdi-action-shopping-cart cart-icon"></i></a>
</div>

<div id="cart_modal" class="modal">
  <div class="modal-content">
  </div>
</div>
</%block>

<main>
    <%block name="main">
    </%block>
</main>
</%block>