<%inherit file="app_base/templates/base_ajax.html" />

<%block name="content">
      <div class="row">
          %for item in items[0:len(items)]:
          <div class="store-item card col l2 s12">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="${item.photo.image}">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">${item.name}<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#!" class="activator">$${item.price}</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">${item.name}<i class="mdi-navigation-close right"></i></span>
                <p>${item.description}</p>
                <form>
                %if item.quantity_on_hand:
                  <select class="select-dropdown">
                    <option value="" disabled selected>Quantity</option>
                    %if item.quantity_on_hand <= 5:
                      %for j in range(1, item.quantity_on_hand+1):
                        <option value="${j}"}>${j}</option>
                      %endfor
                    %else:
                      %for j in range(1, 6):
                        <option value="${j}"}>${j}</option>
                      %endfor
                    %endif
                  </select>
                %endif
                <a href="#description" class="btn-flat waves-effect waves-light orange accent-3 white-text">Add to Cart</a>
                </form>
              </div>
            </div>
            %endfor
        </div>
    </div>
</%block>