<%inherit file="/app_base/templates/base.html" />

<%block name="navigation_left">
  <ul class='left' layout horizontal>
      <div class="nav-shoulder left hide-on-med-and-down"></div>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu grey-text"></i></a>
      <div class="input-field grey-text text-darken-4">
        <input id="search" type="text" required>
        <label for="search"><i class="mdi-action-search grey-text"></i></label>
      </div>
  </ul>
</%block>

<%block name="navigation_right">
</%block>

<%block name="content">
<ul id="slide-out" class="side-nav fixed">
  <li><a href="/">
      <img src="${ STATIC_URL }app_home/media/logo.svg" alt='profile_image' class='nav-logo' />
  </a></li>
</ul>
<div class="nav-shoulder left hide-on-med-and-down"></div>

<%block name="cart">
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light orange accent-3 cart-display"><i class="mdi-action-shopping-cart cart-icon"></i></a>
</div>

<div id="cart_modal" class="modal">
  <div class="modal-content">
  </div>
</div>
</%block>

<main>
  %if title:
    <h1>${ title }</h1>
  %endif
  <div class="row" layout horizontal center wrap>
    <%block name="main">
    </%block>
  </div>
</main>
</%block>