.d-card {
    width: 12rem;
    border-color: white;
    border-style: double;
    border-width: 2px;
}
.tooltipped {
    margin-right: 0 !important;
}
.white-text {
    text-align: center;
    text-transform: initial !important;
}
.graph {
    align-self: baseline;
    margin-top: 1rem;
}
.card {
    margin-top: 1rem;
    padding: 0 !important;
}