.d-card {
    width: 12rem;
    border-color: white;
    border-style: double;
    border-width: 2px;
}
.tooltipped {
    margin-right: 0 !important;
}
.white-text {
    text-align: center;
    text-transform: initial !important;
}
.graph {
      margin-top: 2rem;
}