<%inherit file="app_base/templates/base.html" />

<%block name="content">
  <div class="slider fullscreen">
    <ul class="slides">

      <li>
        <img src="${ STATIC_URL }app_events/media/food.jpg"> <!-- random image -->
        <div class="caption center-align" layout vertical center>
          <div class='overlay'>
            <h1 class="headline">The Continental Feast</h1>
          </div>
          <br/><br/>
          <div class="row" layout horizontal center-center>

            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="${ STATIC_URL }app_events/media/volunteer.jpg">
                  <span class="card-title">Volunteer</span>
                </div>
                <div class="card-content">
                  <p>Come along and lend a hand. We love to help people learn and also
                  appreciate anyone with historic food-making talent.</p>
                </div>
              </div>
            </div>

            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="${ STATIC_URL }app_events/media/enjoy.jpg">
                  <span class="card-title">Enjoy</span>
                </div>
                <div class="card-content">
                  <p>There are plenty of games for the whole family. From stick pull to hoop rolling
                  you will never be bored!</p>
                </div>
              </div>
            </div>

            <div class="col s12 m3">
              <a href='/app_events/details/The Continental Feast/'>
                <div class="card">
                  <div class="card-image">
                    <img src="${ STATIC_URL }app_events/media/participate.jpg">
                    <span class="card-title">Learn More</span>
                  </div>
                  <div class="card-content">
                    <p>Click here to find out the details for the event. Find out more about what we will be doing, where it will be and when!</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </li>

      <li>
        <img src="${ STATIC_URL }app_events/media/camp.jpg"> <!-- random image -->
        <div class="caption center-align" layout vertical center>
          <div class='overlay'>
            <h1 class="headline">Rebels and Redcoats!</h1>
          </div>
          <br/><br/>
          <div class="row" layout horizontal center-center>

            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="${ STATIC_URL }app_events/media/cheer.jpg">
                  <span class="card-title">Participate</span>
                </div>
                <div class="card-content">
                  <p>You can volunteer ahead of time or show up to the events and shows and volunteer as part of the crowd! Don&#39;t miss the oppotunity to join the Minute Men!</p>
                </div>
              </div>
            </div>

            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="${ STATIC_URL }app_events/media/cannon.jpg">
                  <span class="card-title">Celebrate</span>
                </div>
                <div class="card-content">
                  <p>Join with us to celebrate the establishment and foundation of this country. Learn history the fun way, by experiencing it!</p>
                </div>
              </div>
            </div>

            <div class="col s12 m3">
              <a href='/app_events/details/Rebels and Redcoats!/'>
                <div class="card">
                  <div class="card-image">
                    <img src="${ STATIC_URL }app_events/media/learn.jpg">
                    <span class="card-title">Learn More</span>
                  </div>
                  <div class="card-content">
                    <p>Click here to find out the details for the event. Find out more about what we will be doing, where it will be and when!</p>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </li>

    </ul>
  </div>
</%block>