{% extends "admin/base_site.html" %}
{% load i18n %}

{% block header %}{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><div class="input-field">{{ form.email }} <input /><label for="id_email">{% trans 'Email address:' %}</label> <button type="submit" value="{% trans 'Reset my password' %}"></button></p>
</form>

{% endblock %}
