<%inherit file="admin_base.html" />

<%block name="main">


  <div layout horizontal center>
    <h1>Events</h1>
    <div class="action-btn">
      <a href="/app_admin/events.create/" class="btn-floating btn-large waves-effect waves-light"><i class="mdi-content-add"></i></a>
    </div>
  </div>

  <table class="striped">
    <tr>
        <th>Event ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Venue Name</th>
        <th>Map Image</th>
        <th>Options</th>
    </tr>
      %for event in events:
          <tr>
              <td>
                  <a href="/app+admin/events.view/${event.id}">
                      ${ event.id}
                  </a>
              </td>
              <td> ${ event.start_date} </td>
              <td> ${ event.end_date} </td>
              <td> ${ event.venue_name} </td>
              <td>
                  <img class="materialboxed" width="75" src="${ STATIC_URL }media/${ event.map_file }" />
              </td>
              <td>
                  <a href="/app_admin/events.edit/${ event.id }/" class="btn btn-xs btn-default"><i class='mdi-editor-mode-edit'></i></a>
                  <a href="/app_admin/events.delete/${ event.id }/" class="btn red darken-3"><i class='mdi-action-highlight-remove'></i></a>
              </td>
          </tr>
      %endfor
  </table>

</%block>