<%inherit file="app_base/templates/base_ajax.html" />

<%block name="content">
<table class="striped">
  <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Value</th>
      <th>Options</th>
  </tr>
    %for item in items:
        <tr>
            <td>
                <img class="materialboxed" src="${MEDIA_URL }${ item.photo }" width="75"/>
            </td>
            <td> ${ item.name} </td>
            <td> ${ item.description} </td>
            <td> $${ item.value} </td>
            <td>
                <a href="/app_admin/inventory.edit/${ item.id }/" class="btn btn-xs btn-default"><i class='mdi-editor-mode-edit'></i></a>
                <a href="/app_admin/inventory.delete/${ item.id }/" class="btn red darken-3 tooltipped"
                   data-position="bottom" data-delay="20" data-tooltip="Permanently Delete"><i class='mdi-action-highlight-remove'></i></a>
            </td>
        </tr>
    %endfor
</table>

</%block>