<!DOCTYPE html>
<html>
<body>
  <div >
  <h4>>30 Days Late</h4>
  %for rental in new:
        <span>${rental.rental_item.name}</span>
        <p>Rented By: ${rental.transaction.customer}</p>
        <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
        <p>Days late: ${dayslate[rental.rental_item.name]}</p>
  %endfor
  </div>
  <div>
    <h4>30 Days Late</h4>
    %for rental in sixty:
          <span>${rental.rental_item.name}</span>
          <p>Rented By: ${rental.transaction.customer}</p>
          <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
          <p>Days late: ${dayslate[rental.rental_item.name]}</p>
    %endfor
  </div>
  <div>
    <h4>60 Days Late</h4>
    %for rental in thirty:
          <span>${rental.rental_item.name}</span>
          <p>Rented By: ${rental.transaction.customer}</p>
          <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
          <p>Days late: ${dayslate[rental.rental_item.name]}</p>
    %endfor
  </div>
  <div>
    <h4>90 Days Late</h4>
    %for rental in ninety:
          <span>${rental.rental_item.name}</span>
          <p>Rented By: ${rental.transaction.customer}</p>
          <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
          <p>Days late: ${dayslate[rental.rental_item.name]}</p>
    %endfor
  </div>
</body>
</html>