<%inherit file="admin_base.html" />

<%block name="main">
  <div class='row'>
    <h4>>30 Days Late</h4>
    %for rental in new:
    %if dayslate[rental.rental_item.name] < 30:
      <div class="store-item card col s12 l2">
        <div class="card-content">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="${rental.rental_item.photo.image}">
          </div>
          <span class="card-title grey-text text-darken-4">${rental.rental_item.name}</span>
          <p>Rented By: ${rental.transaction.customer}</p>
          <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
          <p>Days late: ${dayslate[rental.rental_item.name]}</p>
        </div>
      </div>
      %endif
    %endfor
    </div>
    <div class='row'>
      <h4>30 Days Late</h4>
      %for rental in sixty:
        <div class="store-item card col s12 l2">
          <div class="card-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="${rental.rental_item.photo.image}">
            </div>
            <span class="card-title grey-text text-darken-4">${rental.rental_item.name}</span>
            <p>Rented By: ${rental.transaction.customer}</p>
            <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
            <p>Days late: ${dayslate[rental.rental_item.name]}</p>
          </div>
        </div>
      %endfor
    </div>
    <div class='row'>
      <h4>60 Days Late</h4>
      %for rental in thirty:
        <div class="store-item card col s12 l2">
          <div class="card-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="${rental.rental_item.photo.image}">
            </div>
            <span class="card-title grey-text text-darken-4">${rental.rental_item.name}</span>
            <p>Rented By: ${rental.transaction.customer}</p>
            <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
            <p>Days late: ${dayslate[rental.rental_item.name]}</p>
          </div>
        </div>
      %endfor
    </div>
    <div class='row'>
      <h4>90 Days Late</h4>
      %for rental in ninety:
        <div class="store-item card col s12 l2">
          <div class="card-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="${rental.rental_item.photo.image}">
            </div>
            <span class="card-title grey-text text-darken-4">${rental.rental_item.name}</span>
            <p>Rented By: ${rental.transaction.customer}</p>
            <p>Current Fee: <a href="#!">$${rental.rental_item.price_per_day*dayslate[rental.rental_item.name]}</a></p>
            <p>Days late: ${dayslate[rental.rental_item.name]}</p>
          </div>
        </div>
      %endfor
    </div>
</%block>