<%inherit file="admin_base.html" />

<%block name="main">
<h1>Overdue Rental Report</h1>
%if len(new) > 0:
<h4>>30 Days Late</h4>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in new:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
%endif
%if len(thirty) > 0:
<h4>30 Days Late</h4>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in thirty:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
%endif
%if len(sixty) > 0:
<h4>60 Days Late</h4>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in sixty:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
%endif
%if len(ninety) > 0:
<h4>90 Days Late</h4>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in ninety:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
%endif
<br>
<div layout horizontal>
  <div id='notify'>
    <a id='notify-btn' class="btn btn-large waves-effect waves-light red darken-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Send an email to all of the users with late rentals">
      Send Overdue Notifications
    </a>
  </div>
  &nbsp;&nbsp;
  <div id='manager'>
    <a id='mng-btn' class="btn btn-large waves-effect waves-light green darken-1 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Send yourself this report via email">
      Get Manager Report
    </a>
  </div>
</div>
</%block>