<%inherit file="admin_base.html" />

<%block name="main">
<h1>Overdue Rental Report</h1>
<h5>>30 Days Late</h5>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in new:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
<h5>30 Days Late</h5>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in thirty:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
<h5>60 Days Late</h5>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in sixty:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
<h5>90 Days Late</h5>
<table class="striped">
  <tr>
    <th>Item</th>
    <th>Rented By</th>
    <th>Current Fee</th>
    <th>Days Late</th>
  </tr>
  %for rental in ninety:
    <tr>
        <td> ${ rental.rental_item.name } </td>
        <td> ${ rental.transaction.customer } </td>
        <td> $${ rental.rental_item.price_per_day*dayslate[rental.rental_item.name] } </td>
        <td> ${ dayslate[rental.rental_item.name] } </td>
    </tr>
  %endfor
</table>
<br>
<div layout horizontal>
  <div id='notify'>
    <a id='notify-btn' class="btn btn-large waves-effect waves-light red darken-1">
      Send Overdue Notifications
    </a>
  </div>
  &nbsp;&nbsp;
  <div id='manager'>
    <a id='mng-btn' class="btn btn-large waves-effect waves-light green darken-1">
      Get Manager Report
    </a>
  </div>
</div>
</%block>